* {
	padding: 0;
	margin: 0;
	font-family: "Comic Sans", "Comic Sans MS";
}

body {
	height: 100vh;
	width: 100vw;
}

#bowl {
	display: inline-block;
	position: fixed;
	height: 80px;
	width: 80px;
	background-color: brown;
	margin-left: calc(50vw - 40px);
	margin-top: calc(50vh - 40px);
}

#score, #lives, #time, #mode {
	display: inline-block;
	position: fixed;
	padding: 16px;
	font-size: 3rem;
}

#score {
	top: 0;
	right: 0;
}

#lives {
	top: 50px;
	right: 0;
}

#time {
	left: 0;
	top: 0;
}

#mode {
	width: 100vw;
	top: 0;
	text-align: center;
}

#tank {
	display: inline-block;
	position: fixed;
	height: 80px;
	width: 80px;
	background-color: green;
}

.swine {
	position: fixed;
	display: inline-block;
	height: 80px;
	width: 80px;
	background-color: olive;
	top: 0px;
	left: 0px;
}

