* {
	padding: 0;
	margin: 0;
	font-family: "Comic Sans", "Comic Sans MS";
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

#bowl {
	display: inline-block;
	position: fixed;
	height: 80px;
	width: 80px;
	margin-left: calc(50vw - 40px);
	margin-top: calc(50vh - 40px);
	background-image: url(../img/bowl.png);
	filter: drop-shadow(8px 8px 16px gold);
}

#score,
#lives,
#time,
#mode {
	display: inline-block;
	position: fixed;
	padding: 16px;
	font-size: 2rem;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#score {
	top: 0;
	right: 0;
}

#lives {
	top: 50px;
	right: 0;
}

#time {
	left: 0;
	top: 0;
}

#mode {
	width: 100vw;
	top: 0;
	text-align: center;
}

#tank {
	display: inline-block;
	position: fixed;
	height: 80px;
	width: 80px;
	background-image: url(../img/tank.png);
	filter: drop-shadow(0px 0px 16px lime);
}

.swine {
	position: fixed;
	display: inline-block;
	height: 80px;
	width: 80px;
	top: 0px;
	left: 0px;
	background-image: url(../img/swine.png);
	filter: contrast(200%);
}

#hello_popup, #end_popup {
	width: 350px;
	padding: 16px;
	background-color: white;
	border-radius: 8px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	text-align: center;
}

#end_popup {
	display: none;
}

#hello_popup input, #end_popup input {
	margin-top: 8px;
}

.button-33 {
	background-color: #c2fbd7;
	border-radius: 100px;
	box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
	color: green;
	cursor: pointer;
	display: inline-block;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-33:hover {
	box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
	transform: scale(1.05) rotate(-1deg);
}

.credit {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 16px;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}