* {
	padding: 0;
	margin: 0;
	font-family: "Comic Sans", "Comic Sans MS";
}

body {
	height: 100vh;
	width: 100vw;
}

#bowl {
	display: inline-block;
	position: fixed;
	height: 80px;
	width: 80px;
	background-color: brown;
	margin-left: calc(50vw - 40px);
	margin-top: calc(50vh - 40px);
}

#score,
#lives,
#time,
#mode {
	display: inline-block;
	position: fixed;
	padding: 16px;
	font-size: 2rem;
}

#score {
	top: 0;
	right: 0;
}

#lives {
	top: 50px;
	right: 0;
}

#time {
	left: 0;
	top: 0;
}

#mode {
	width: 100vw;
	top: 0;
	text-align: center;
}

#tank {
	display: inline-block;
	position: fixed;
	height: 80px;
	width: 80px;
	background-color: green;
}

.swine {
	position: fixed;
	display: inline-block;
	height: 80px;
	width: 80px;
	background-color: olive;
	top: 0px;
	left: 0px;
}

#hello_popup, #end_popup {
	width: 350px;
	padding: 16px;
	background-color: white;
	border-radius: 8px;
	position: fixed;
	margin-left: calc(50vw - 175px);
	z-index: 1000;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	text-align: center;
}

#hello_popup {
	height: 310px;
	margin-top: calc(50vh - 155px);
}

#end_popup {
	height: 170px;
	margin-top: calc(50vh - 85px);
}

#end_popup {
	display: none;
}

#hello_popup input, #end_popup input {
	margin-top: 16px;
}

.button-33 {
	background-color: #c2fbd7;
	border-radius: 100px;
	box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
	color: green;
	cursor: pointer;
	display: inline-block;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-33:hover {
	box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
	transform: scale(1.05) rotate(-1deg);
}